* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Helvetica", sans-serif; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  :root,
  body,
  #root {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  :root::-webkit-scrollbar,
  body::-webkit-scrollbar,
  #root::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}


::selection {
  background-color: #8dcb3f; /* highlight background */
  color: white; /* highlight text color */
}
